<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h1>Welcome to Portal, <%= firstname %> </h1>
 <div>
 	<h3> Your Details</h3>
 	<p>
 		<b>User Name : </b> <%= username %> <br>
 		<b>First Name : </b> <%= firstname %> <br>
 		<b>Last Name : </b> <%= lastname %> <br>
 		<b>Date of Birth : </b> <%= dob %> <br>
 		<b>Gender: </b> <%= gender %> <br>
  		
 	</p> 
 </div>
</body>
</html>